@import "primeicons/primeicons.css";

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

i{
    font-size: 1.4rem;
    color: black;
    background: #ffffff;
    padding: 6px;
    border-radius: 100px;
    margin-right: 5px;
}

.icons{
    margin-bottom: 15px;
    margin-top: 0px;
}